<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="me.chenjiayang.myleancloud">

    <!-- 扫描二维码权限 -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <!-- 地图包、搜索包需要的基础权限 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <!-- 定位包、导航包需要的额外权限（注：基础权限也需要） -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <!-- <uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION" /> -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <!-- 用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <!-- 音乐 -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".MyLeanCloudApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher1"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:icon,android:name,android:theme">

        <!-- Key -->
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="7cbb133e367200f34aa83acce215a140" />

        <!-- 实时通信模块、推送（若使用该功能，需添加以下声明）START -->
        <service android:name="com.avos.avoscloud.PushService" />

        <receiver android:name="com.avos.avoscloud.AVBroadcastReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>
        <!-- 实时通信模块、推送 END -->

        <activity android:name="com.avos.avoscloud.feedback.ThreadActivity" />
        <!-- 反馈组件 END -->

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Main2Activity"
            android:label="@string/title_activity_main2"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".RegisterActivity"
            android:label="@string/title_activity_register"
            android:theme="@style/AppTheme.NoActionBar" />
        <!-- 对MyLibrary中的Activity进行注册 -->
        <activity
            android:name="com.zxing.activity.CaptureActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".OrderActivity"
            android:label="@string/title_activity_order"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings" />
        <activity android:name=".PoiAroundSearchActivity" />
        <!-- Service -->
        <service android:name="com.amap.api.location.APSService" />
        <!--
 ATTENTION: This was auto-generated to add Google Play services to your project for
     App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information.
        -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".WriteOrderActivity"
            android:label="OrderInfo" />
        <activity
            android:name=".SplashActivity"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".InfoActivity"
            android:label="Info" />
        <activity
            android:name=".InfoItemActivity"
            android:label="@string/title_activity_info_item"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".CarInfoActivity"
            android:label="Garage" />
        <activity
            android:name=".MyOrderActivity"
            android:label="@string/title_activity_my_order"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".cardlayout.CardLayoutActivity"
            android:label="Orders&apos; History" />
        <activity
            android:name=".CarItemActivity"
            android:label="CarElem" />
        <activity
            android:name=".EditInfoActivity"
            android:label="Me" />
        <activity
            android:name=".FeedBackActivity"
            android:label="FeedBack" />
        <activity
            android:name=".NewsScrollingActivity"
            android:label="@string/title_activity_news_scrolling"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".CollectActivity"
            android:label="Collector" />
        <activity
            android:name=".music_bar.MusicActivity"
            android:label="Music Bar"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />

        <service android:name=".music_bar.MusicService" />

        <activity
            android:name=".StartActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".QueryActivity"
            android:label="Illegal Query"
            android:theme="@style/AppTheme.NoActionBar"/>

    </application>

</manifest>